#tabel-buah{
    border-collapse: collapse;
    background-color: aqua;
    background-size: 100%;
    background-repeat: no-repeat;
  
}


.link {
    color: red;
    text-decoration: underline;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: turquoise;

}
